body {
  font-family: Arial, sans-serif;
  background-color: #ad9c49cb;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #6d300c;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.form-container, .result-box {
  background: white;
  max-width: 600px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 10px;
  text-align: left;
}

.banner {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #6d300c;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
